<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :artiststatement %><br>
    <%= f.text_field :artiststatement %>
  </div>
  <div class="field">
    <%= f.label :smallimagename %><br>
    <%= f.text_field :smallimagename %>
  </div>
  <div class="field">
    <%= f.label :largeimagename %><br>
    <%= f.text_field :largeimagename %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
