<p id="notice"><%= notice %></p>

<%= image_tag @artist.small_image.url %>
<%= image_tag @artist.small_image.url(:medium) %>
<%= image_tag @artist.small_image.url(:thumb) %>

<p>
  <strong>Firstname:</strong>
  <%= @artist.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @artist.lastname %>
</p>

<p>
  <strong>Artiststatement:</strong>
  <%= @artist.artiststatement %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
